body { background-color: rgb(116, 172, 245); }
p { color: #f7f2f1 }
p { font-size: large;}
ul { text-align: left }
ul { font-style: oblique;}
ul { font-weight: bold;}
h2 { text-decoration: underline;}
h3 {text-decoration-style:wavy;}